<div class="logo">
  <i class="fas fa-chart-line"></i>
  <span>Bills Admin</span>
</div>
<nav class="menu">
  <ul>
    <li [routerLinkActive]="['active']">
      <a routerLink="/private-area/my-profile">
        <i class="fas fa-user"></i>
        <span>{{ 'My profile' | translate }}</span>
      </a>
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/private-area/invoices">
        <i class="fas fa-chart-line"></i>
        <span>{{ 'Invoices' | translate }}</span>
      </a>
    </li>
  </ul>
</nav>
<div class="user-info">
  <span *ngIf="currentUserDetails.name">
    {{'Hi' | translate}}, {{currentUserDetails.name}}
  </span>
  <p>
    {{currentUserDetails.email}}
  </p>
  <button class="main-button" (click)="logOut()">
    {{'Logout' | translate}}
  </button>
</div>