<div class="component-container" *ngIf="!loading">
  <div class="row">
    <div class="col-12">
      <div class="elevated-box">
        <form [formGroup]="form" class="row">
          <div class="col-md-6 form-control-container">
            <label class="label" for="name">
              {{'Invoice name' | translate }}*
            </label>
            <input 
              type="text" 
              formControlName="name"
            />
            <small *ngIf="isNotValidField('name')" class="error-message">
              {{'Required field, 2 characters minimum' | translate }}.
            </small>
          </div>
          <div class="col-md-6 form-control-container">
            <label class="label" for="amount">
              {{'Amount' | translate }}
            </label>
            <input 
              type="number" 
              formControlName="amount"
            />
            <small *ngIf="isNotValidField('amount')" class="error-message">
              {{'Error' | translate }}
            </small>
          </div>
          <div class="col-md-6 form-control-container">
            <label class="label" for="supply_address">
              {{'Suply address' | translate }}
            </label>
            <input 
              type="text" 
              formControlName="supply_address"
            />
            <small *ngIf="isNotValidField('supply_address')" class="error-message">
              {{'50 characters maximum' | translate }}.
            </small>
          </div>
          <div class="col-md-6 form-control-container">
            <label class="label" for="file">
              {{'Invoice file' | translate }}
            </label>
            <input 
              type="file" 
              id="file-input" 
              formControlName="file" 
              hidden 
              accept=".pdf"
              (change)="onFileChange($event)"
            />
            <div class="row m-0">
              <div *ngIf="invoiceDetails?.file && !form.get('file')?.value" class="col-8 files-container">
                <a class="file-box" href="assets/data/pdf de prueba.pdf" target="_blank">
                  <small class="ellipsis-text-style">
                    {{invoiceDetails.file}}
                  </small>
                </a>
              </div>
              <div *ngIf="form.get('file')?.value" class="col-8 files-container">
                <div class="file-box" (click)="getFormFile()">
                  <small class="ellipsis-text-style">
                    {{this.formFile?.name}}
                  </small>
                </div>
              </div>
              <div class="col-4 d-flex align-items-center" [class.p-0]="!invoiceDetails?.file && !form.get('file')?.value">
                <label for="file-input" class="secondary-button">
                  {{'Add file' | translate}}
                </label>
              </div>
            </div>
            <small *ngIf="isNotValidField('file')" class="error-message">
              {{'Required field, attach an invoice' | translate }}.
            </small>
          </div>
          <div class="col-12 d-flex gap-3">
            <button class="main-button" (click)="validateForm()">
              {{(id ? 'Save changes' : 'Create invoice') | translate}}
            </button>
            <a [routerLink]="'/private-area/invoices'" class="cancel-button">
              {{'Cancel' | translate}}
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>