.elevated-box {
  overflow: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  i{
    font-size: 22px;
  }
}

// .stat-box i {
//   font-size: 30px;
//   color: var(--highlight-color);
// }

// .stat-box h2 {
//   font-size: 16px;
//   margin: 0;
//   color: var(--text-color);
// }

// .stat-box p {
//   font-size: 24px;
//   font-weight: bold;
//   margin: 0;
// }