<div class="logo">
  <i class="fas fa-chart-line"></i>
  <span>Bills Admin</span>
</div>
<nav class="menu">
  <ul>
    <li [routerLinkActive]="['active']">
      <a routerLink="/invoices">
        <i class="fas fa-chart-line"></i>
        <span>{{ 'Invoices' | translate }}</span>
      </a>
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/users">
        <i class="fas fa-users"></i>
        <span>{{ 'Users' | translate }}</span>
      </a>
    </li>
  </ul>
</nav>
<div class="user-info">
  <img src="user-placeholder.jpg" alt="User">
  <span>Evano</span>
  <p>Project Manager</p>
</div>