<div class="background">
  <div class="elevated-box login-container">
    <h1>Ingresar</h1>
    <form>
      <div class="form-control-container">
        <label class="label" for="usuario">
          Usuario
        </label>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="email" id="usuario">
        </div>
      </div>
      <div class="form-control-container">
        <label class="label" for="contrasena">
          Contraseña
        </label>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" id="contrasena">
        </div>
      </div>
      <button type="submit" class="main-button">
        Login
      </button>
    </form>
  </div>
</div>
